fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pymysql
cryptography
psycopg2-binary
databases
python-dotenv
ultralytics
opencv-python-headless
numpy
redis
pydantic[email]
websockets
python-socketio
slowapi
requests
pandas
scipy
fpdf
